.header-bar-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin-bottom: 20px;
  flex-shrink: 0;

  .header-bar-title-wrapper {
    flex-grow: 1;
  }

  .header-bar-button-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
  }

  .header-bar-icon {
    width: 45px;
    height: 45px;
  }
}
