:root {
  --primary-color: #0995ce;
  --primary-color-darkened: #087bb3;
  --button-color: #506dbd;
  --button-color-darkened: #4863b0;
}

.app-container {
  margin: 20px;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 30px;
  font-size: medium;
  background-color: transparent;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
  }
}
