:root {
  --primary-color: #0995ce;
  --primary-color-darkened: #087bb3;
  --button-color: #506dbd;
  --button-color-darkened: #4863b0;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

html,
body,
#app,
.v-application {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.v-main {
  height: 100%;
}

.v-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .v-card {
    border-radius: 30px;
  }
}
